/* Responsive Breakpoints
   ========================================================================== */
/* Sub-section comment block
   ========================================================================== */
/* Clearfix
  ========================================================================== */
/* Box Model
  ========================================================================== */
/* Border Radius
  ========================================================================== */
/* Opacity
  ========================================================================== */
/* Center-align a block level element
  ========================================================================== */
/* Text overflow
  ========================================================================== */
/* Absolute positioned
  ========================================================================== */
/* Font Size
  ========================================================================== */
/* Cross browser inline block
  ========================================================================== */
/* Text replacement (instead of text-indent)
  ========================================================================== */
/* Line Height
  ========================================================================== */
/* Placeholder
  ========================================================================== */
/* SVG
  ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

*, * * {
  box-sizing: border-box; }

.separator {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.section {
  text-align: center;
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end; }

.separator.external {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"%3E%3Cpolygon fill="%231f1f28" points="82 100 0 100 0 0 42 0"/%3E%3Cpolygon fill="%23282834" points="40 0, 100 0, 100 100, 80 100"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.separator.bright {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"%3E%3Cpolygon fill="%23e5e8e9" points="32 100 0 100 0 0 82 0"/%3E%3Cpolygon fill="%23f1f3f3" points="80 0, 100 0, 100 100, 30 100"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.separator.brighter {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"%3E%3Cpolygon fill="%23e5e8e9" points="2 100 0 100 0 0 32 0"/%3E%3Cpolygon fill="%23e5e8e9" points="30 0, 100 0, 100 100, 0 100"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #f1c40f; }

#menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  z-index: 70;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end; }

.menu__item {
  padding: 1rem 2rem;
  color: #e5e8e9; }
  .menu__item a {
    transition: color 0.5s ease;
    color: #e5e8e9;
    text-decoration: none;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500; }
  .menu__item.active a, .menu__item.active a:hover, .menu__item.active a:focus, .menu__item.active a:active, .menu__item.active a:visited {
    border-bottom: 0.125rem solid #f1c40f; }

.recess-logo {
  width: 10rem; }

.section-title__header {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  color: #e5e8e9;
  font-size: 2rem; }
  .section-title__header img {
    height: 3rem;
    margin-right: -0.5rem; }

.section-title__footer {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0; }
  .section-title__footer a, .section-title__footer a:hover, .section-title__footer a:focus, .section-title__footer a:active, .section-title__footer a:visited {
    color: #f1c40f; }
  .section-title__footer i {
    font-size: 4rem; }

.section-title__badges {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: center; }

.section-description {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  color: #e5e8e9;
  padding: 1rem;
  line-height: 2rem; }
  .section-description span {
    font-size: 1.2rem;
    max-width: 40rem; }

.badge.google {
  width: 154px; }

.fp-viewing-study .menu__item a,
.fp-viewing-team .menu__item a,
.fp-viewing-questions .menu__item a {
  transition: color 0.5s ease;
  color: #1f1f28; }

.theStudy {
  padding: 0 0 0 0;
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between; }

.team {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe; }

p {
  line-height: 1.4rem; }

.description {
  flex: auto;
  width: 10rem;
  min-width: 12rem; }
  .description h1 {
    width: 4rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid #f1c40f;
    color: #24242f; }
  .description .subtitle {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
    padding: 1rem 0 0 2rem; }
  .description p {
    padding: 0 2rem 0 2rem;
    min-width: 14rem;
    max-width: 14rem;
    text-align: left;
    color: #95a5a6; }

.stages {
  flex: auto;
  align-self: flex-end;
  max-width: 20rem;
  background-color: #f1c40f; }
  .stages section {
    color: #24242f;
    padding: 2rem;
    text-align: left; }

.preview {
  flex-grow: 1;
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  justify-content: space-around; }
  .preview img {
    width: 10rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.theTeam {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between; }

.ethics {
  flex: auto;
  width: 10rem;
  min-width: 12rem; }
  .ethics h1 {
    width: 4rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid #f1c40f;
    color: #24242f; }
  .ethics .subtitle {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
    padding: 1rem 0 0 2rem; }
  .ethics p {
    padding: 0 2rem 0 2rem;
    min-width: 14rem;
    max-width: 14rem;
    text-align: left;
    color: #95a5a6; }
    .ethics p img {
      width: 20rem; }

.members {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 40rem;
  background-color: #24242f;
  flex-wrap: wrap;
  padding: 1rem; }
  .members section {
    color: #ffffff;
    padding: 1rem;
    text-align: left;
    width: 18rem;
    height: 8rem; }

.policy {
  background-color: #f1c40f;
  padding: 2rem; }
  .policy div {
    background-color: #fefefe;
    padding: 2rem; }

/*# sourceMappingURL=recess.css.map */
