/* Responsive Breakpoints
   ========================================================================== */
/* Sub-section comment block
   ========================================================================== */
/* Clearfix
  ========================================================================== */
/* Box Model
  ========================================================================== */
/* Border Radius
  ========================================================================== */
/* Opacity
  ========================================================================== */
/* Center-align a block level element
  ========================================================================== */
/* Text overflow
  ========================================================================== */
/* Absolute positioned
  ========================================================================== */
/* Font Size
  ========================================================================== */
/* Cross browser inline block
  ========================================================================== */
/* Text replacement (instead of text-indent)
  ========================================================================== */
/* Line Height
  ========================================================================== */
/* Placeholder
  ========================================================================== */
/* SVG
  ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
::selection {
  background: #f1c40f;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

a, a:hover, a:link, a:visited {
  text-decoration: none;
  color: #282834; }

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

*, * * {
  box-sizing: border-box; }

#menu {
  background: none;
  position: absolute;
  top: 0; }

.intro {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 34rem;
  max-width: 100%;
  background-color: #282834;
  background: -webkit-linear-gradient(70deg, #1f1f28 50%, #282834 50%);
  background: linear-gradient(70deg, #1f1f28 50%, #282834 50%);
  padding: 2rem 0 0 0;
  text-align: center;
  color: #e5e8e9; }
  .intro section {
    text-align: center;
    width: 100%;
    margin: 0 auto; }

.intro__description {
  max-width: 35rem;
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 0 auto; }
  .intro__description span {
    max-width: 40rem; }

.intro__download {
  display: none; }
  @media (min-width: 376px) {
    .intro__download {
      display: block;
      max-width: 20rem;
      margin: 0 auto;
      padding: 0.5rem 0; }
      .intro__download .badge {
        width: 50%;
        float: left; }
        .intro__download .badge:after {
          clear: both; } }

.intro__down {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .intro__down a {
    color: #f1c40f; }
    .intro__down a i {
      font-size: 4rem;
      line-height: 0rem; }

.recess-logo {
  min-width: 3rem;
  max-width: 9rem;
  margin: 1rem; }

.badge {
  height: 4rem;
  line-height: 4rem; }
  .badge img {
    display: inline-block;
    vertical-align: middle; }
  .badge .google {
    width: 154px; }

.features {
  padding: 1rem 0 0 0;
  max-width: 50rem; }
  @media (min-width: 50rem) {
    .features {
      margin: 0 auto; } }
  .features h1 {
    width: 4rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid #f1c40f;
    color: #24242f; }

.visual {
  display: none; }
  @media (min-width: 470px) {
    .visual {
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      height: 10rem;
      width: 10rem;
      position: absolute;
      top: 1rem;
      right: 0rem; } }

.features__description {
  position: relative; }

.features-description__subtitle {
  color: #869398;
  padding: 0 0 0 1rem; }

.features-description__short {
  color: #869398;
  padding: 0 0 0 1rem;
  max-width: 20rem;
  line-height: 1.4rem; }

.preview {
  max-width: 320px; }
  .preview img {
    max-width: 10rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.features__activity,
.features__challenge,
.features__chat {
  padding: 1rem 0 0 0;
  text-align: center; }
  .features__activity h1,
  .features__challenge h1,
  .features__chat h1 {
    width: 20rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid #f1c40f;
    color: #24242f;
    text-align: left; }
  .features__activity h2,
  .features__challenge h2,
  .features__chat h2 {
    width: 20rem;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 700;
    color: #6c7a7f; }
  .features__activity p,
  .features__challenge p,
  .features__chat p {
    color: #869398;
    padding: 2rem 1rem 0 1rem;
    max-width: 30rem;
    margin: 0 auto; }
  .features__activity .image,
  .features__challenge .image,
  .features__chat .image {
    padding: 2rem; }
    .features__activity .image img,
    .features__challenge .image img,
    .features__chat .image img {
      max-width: 20rem;
      width: 100%;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.team {
  text-align: center;
  background-color: #f1c40f;
  background-color: #282834;
  background: -webkit-linear-gradient(70deg, #e5e8e9 50%, #f1f3f3 50%);
  background: linear-gradient(70deg, #e5e8e9 50%, #f1f3f3 50%);
  padding: 2rem 0 0 0; }

.team__headline {
  max-width: 50rem;
  margin: 0 auto; }
  .team__headline h1 {
    width: 15rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid #f1c40f;
    color: #24242f;
    text-align: left; }

.team__members {
  padding: 2rem; }

.waterloo-logo img {
  max-width: 20rem; }

.team-members__member {
  text-align: left;
  float: left;
  width: 100%;
  padding: 1rem; }
  .team-members__member p {
    text-align: left;
    max-width: 18rem; }
  @media (min-width: 500px) {
    .team-members__member {
      width: 50%; }
      .team-members__member p {
        text-align: left;
        max-width: 4rem; } }
  @media (min-width: 720px) {
    .team-members__member {
      width: 33%; } }
  @media (min-width: 850px) {
    .team-members__member {
      width: 25%; } }
  .team-members__member h2 {
    width: 3rem;
    height: 4.5rem;
    line-height: 2rem;
    border-bottom: 0.25rem solid #f1c40f; }
    .team-members__member h2.kinesiology {
      border-color: #00BED0; }
    .team-members__member h2.computer-science {
      border-color: #B71233; }
    .team-members__member h2.mechanical-engineering {
      border-color: #57068C; }
    .team-members__member h2.public-health {
      border-color: #007f8a; }

/**


.separator {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.section {
  text-align: center;
  @include flex('row');
  justify-content: flex-end;

}

.separator.external {
  //background-image: url('../svg/source.svg');
  background-color: $recess_base_contrast_1;



  @include svg($recess_base_contrast_1, $recess_base_contrast_3, 40, 80);

}

.separator.bright {
  //background-image: url('../svg/source.svg');
  @include svg($recess_base_1, $recess_base_2, 80, 30);
}

.separator.brighter {
  //background-image: url('../svg/source.svg');
  @include svg($recess_base_1, $recess_base_1, 30, 0);
}


#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: $primary_recess;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  z-index: 70;
  padding: 1rem;
  margin: 0;
  @include flex('row');
  justify-content: flex-end;
}

.menu__item {
  padding: 1rem 2rem;
  color: $recess_base_1;

  a {
    transition: color 0.5s ease;
    color: $recess_base_1;
    text-decoration: none;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
  }

  &.active {
    a, a:hover, a:focus, a:active, a:visited {

      border-bottom: 0.125rem solid $primary_recess;;
    }
  }
}

.recess-logo {
  width: 10rem;
}

.section-title {

}

.section-title__header {
  @include flex('row');
  justify-content: center;

  color: $recess_base_1;
  font-size: 2rem;

  img {
    height: 3rem;
    margin-right: -0.5rem;
  }
}

.section-title__footer {
  @include flex('row');
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  a, a:hover, a:focus, a:active, a:visited {
    color: $primary_recess;
  }

  i {
    font-size: 4rem;
  }

}

.section-title__badges {
  @include flex('row');
  justify-content: center;
}

.section-description {
  @include flex('row');
  justify-content: center;
  color: $recess_base_1;
  padding: 1rem;
  line-height: 2rem;
  span {
    font-size: 1.2rem;
    max-width: 40rem;
  }
}

.badge {
  &.apple {

  }

  &.google {
    width: 154px;
  }
}

.fp-viewing-app {

}

.fp-viewing-study .menu__item ,
.fp-viewing-team .menu__item,
.fp-viewing-questions .menu__item {
  a {
    transition: color 0.5s ease;
    color: $recess_base_contrast_1;
  }

}

.study {
  //background-color: $nephritis;
}

.theStudy {
  padding: 0 0 0 0;
  //height: 40rem;

  @include flex('row');

}

.team {
  @include flex('row');
  background-color: $white;
}



p {
  line-height: 1.4rem;
}

.description {
  flex: auto;
  //background-color: $amethyst;
  width: 10rem;
  min-width: 12rem;
  h1 {
    width: 4rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid $primary_recess;
    color: $recess_base_contrast_2;
  }
  .subtitle {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
    padding: 1rem 0 0 2rem;
  }
  p {
    padding: 0 2rem 0 2rem;
    min-width: 14rem;
    max-width: 14rem;
    text-align: left;
    color: $concrete;

  }
}

.stages {
  flex: auto;
  align-self: flex-end;
  //width: 5rem;
  max-width: 20rem;
  background-color: $primary_recess;

  section {
    color: $recess_base_contrast_2;
    padding: 2rem;
    text-align: left;
  }

}

.preview {
  //background-color: $amethyst;
  flex-grow: 1;
  @include flex('row');
  justify-content: space-around;
  img {
    width: 10rem;
    @include card(3);
  }
}

.theTeam {
  @include flex('row');
  //background-color: $alizarin;
}

.ethics {
  flex: auto;
  //background-color: $amethyst;
  width: 10rem;
  min-width: 12rem;
  h1 {
    width: 4rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid $primary_recess;
    color: $recess_base_contrast_2;
  }
  .subtitle {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
    padding: 1rem 0 0 2rem;
  }
  p {
    padding: 0 2rem 0 2rem;
    min-width: 14rem;
    max-width: 14rem;
    text-align: left;
    color: $concrete;

    img {
      width: 20rem;
    }

  }
}

.members {
  @include flex('row');
  align-self: flex-end;
  //width: 5rem;
  max-width: 40rem;
  background-color: $recess_base_contrast_2;
  flex-wrap: wrap;
  padding: 1rem;

  section {
    color: $recess_base_3;
    padding: 1rem;
    text-align: left;
    width: 18rem;
    //background-color: $emerald;
    height: 8rem;
  }

}

.policy {
  background-color: $primary_recess;
  padding: 2rem;
  div {
    background-color: $white;
    padding: 2rem;

  }
}

**/
