$background: #0d0307;
$white: #fefefe;
$black: #232323;
$darkgray: #444444;
$turquoise: #1abc9c;
$greensea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peterriver: #3498db;
$belizehole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wetasphalt: #34495e;
$midnightblue: #2c3e50;
$sunflower: #f1c40f;
$oranje: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$deepsilver: #969990;
$asbestos: #7f8c8d;
$inactive: #898989;
$primary_recess: #f1c40f;
$primary_steps: #27ae60;
$primary_active: #2980b9;
$recess_base_1: #e5e8e9;
$recess_base_2: #f1f3f3;
$recess_base_3: #ffffff;
$recess_base_contrast_1: #1f1f28;
$recess_base_contrast_2: #24242f;
$recess_base_contrast_3: #282834;
$recess_primary: #e5e16a;
$recess_secondary: #27ae60;
$recess_success: #36d7a8;
$recess_warning: #f7dc5f;
$recess_highlight: #0091ff;
$recess_danger: #ed5565;
$recess_font_base: #869398;
$recess_font_base_important: #859297;
$recess_font_base_contrast: #231f20;

$uw_kinesiology: #00BED0;
$uw_cs: #B71233;
